@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: rgb(49, 49, 49);
}

header {
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

#menu ul {
    padding: 15px;
    margin: 11px;
    background-color: #000;
    list-style: none;
    padding-left: 90px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 3px solid #00000000;
}

#menu ul li a:hover {
    background-color: #65656556;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 0, 0);
}

.h1-2 {
    color: black;
    font-size: 3rem;
    position: relative;
    overflow: hidden;
    text-align: center;
}
  
.h1-2::before {
    content: attr(data-content);
    position: absolute;
    margin-left: 160px;
    text-align: center;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    color: white;
    background: linear-gradient(to right, black, rgb(219, 0, 0));
    clip-path: inset(0 0 100% 0);
    animation: revealText 2s forwards;
}
  
@keyframes revealText {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
}
  

h2 {
    color: #ffffff92;
    font-size: 20px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 285px;
    height: 410px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}

.poster::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 3s;
    bottom: 0;
}

.card:hover {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.card:hover .poster img {
    transform: scale(1.3);
}

.detalhes {
    position: absolute;
    bottom: -395px;
    left: 0;
    width: 100%;
    height: 90%;
    padding: 1.5rem 1.5rem 2rem;
    background: #000a;
    backdrop-filter: blur(16px) saturate(100%);
    transition: 1s;
    color: #fff;
    z-index: 2;
    border: 0;
}

#detalhes1 {
    height: 87%;
}

#detalhes2 {
    height: 62%;
}

#detalhes3 {
    height: 86%;
}

#detalhes4 {
    height: 71%;
}

#detalhes5 {
    height: 62%;
}

#detalhes6 {
    height: 66%;
}

#detalhes7 {
    height: 81%;
}

#detalhes8 {
    height: 71%;
}
.card:hover .detalhes {
    bottom: 0;
}

.detalhes h1, 
.detalhes h2 {
    font-weight: 700;
}


.detalhes h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.detalhes h2 {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
    opacity: 0.6;
}


.detalhes .classificacao {
    position: relative;
    margin-bottom: 15px;
    gap: 0.25rem;
} 

.detalhes .classificacao i {
    color: #E3C414;
}
.detalhes .classificacao span {
    margin-left: 0.25rem;
}

.detalhes .tags {
    display: flex;
    gap: 0.375em;
    margin-bottom: 0.875em;
    font-size: 0.85em;
}

.detalhes .tags span {
    padding: 0.15em 0.55em;
    color: #fff;
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.detalhes .desc {
    color: #fff;
    opacity: 0.8;
    margin-bottom: 1em;
}